<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title></title>
		<style>
			.red {
				background: red;
			}
			#app div {
				display: none;
			}
		</style>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>

	</head>

	<body>
		<div id="app">
			<input
				v-for="(item,i) in tabData"
				type="button"
				v-bind:value="item.title"
				v-bind:class="{red:i === index}"
				v-on:click="tabHandle(i)"
			/>
			<ul
				v-for="(item,j) in tabData"
				v-show="index===j"
			>
				<li v-for="option in item.list">
					{{option.subTitle}}
				</li>
			</ul>
		</div>
		<script>

			let tabData = [
				{
					title:"新闻",
					list: [
						{
							subTitle:'今天很好'
						},
						{
							subTitle:'今天很好'
						},
						{
							subTitle:'今天很好'
						}
					]
				},
				{
					title:'娱乐',
					list: [
						{
							subTitle:'结婚了'
						},
						{
							subTitle:'出轨了'
						}
					]
				},
				{
					title:'体育',
					list: [
						{
							subTitle:'冠军'
						},
						{
							subTitle:'冠军'
						}
					]
				}
			]
			let vm = new Vue({
				el: '#app',
				data:{  // 只有计划好的数据，才能做相应reactive
					tabData,
					index:0  // 控制让哪一个面板显示的
				},
				methods: {
					tabHandle (i) {
						this.index = i;
					}
				}
			})


		</script>
	</body>
</html>
