<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>
    <style>
       body,
       ul,
       li {
          margin: 0;
          padding: 0;
          list-style: none;
       }
       .list-body li:nth-child(even) {
          background: yellow;
       }
       .list-body li:nth-child(odd) {
          background: #fff;
       }
       .list-body li:hover {
          background: green;
       }
       .list-body li.checkedColor {
          background: green;
       }
    </style>
</head>
<body>
    <div class="wrap" id="app">
        <input type="checkbox" v-model="flags">active
         <ul>
             <li v-for="item in array">
                 <input type="checkbox" v-model="item.checked">
             </li>
         </ul>
        {{flags}}
    </div>
</body>
</html>
<script>

    new Vue({
        el : "#app",
        data : {
            array : [
                {checked : true},
                {checked : false},
                {checked : true},
                {checked : false}
            ]
        },
        computed : {
            flags : {
                get : function(){
                    return this.array.every(function(item){
                            return item.checked;
                    })
                },
                set: function(value){
                    alert(value)
                    this.array.forEach(item => {
                        item.checked = value;
                    })
                }
            }

        }
    })

</script>

三个复选框：
    选中  或者 不选中
    checked
