<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        姓名:<input type="text" v-model="name" placeholder="请输入姓名">
        <br>
        年龄:<input type="text" v-model="age" placeholder="请输入年龄">

        <button @click="AddData">Add</button>

        <ul>
            <li>{{array}}</li>
        </ul>
    </div>
</body>
</html>
<script>

    new Vue({
        el : "#app",
        data : {
            array : ["jack","rose"],
            name : "",
            age : ""
        },
        methods : {
            AddData : function () {
                this.array.push(this.name,this.age)
            }
        }
    })


</script>
